@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.footer{
    background-color: #000;

    font-family: 'Poppins', sans-serif;
    font-size: 0.5em;
    color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-icon{
    width: 20px;

    margin-right: 3px;
    margin-left: 3px;
}
