@media screen and (min-width: 300px) and (max-width: 992px){
    .login-container{
        width: 95%;
    }

    .logo-login{
        width: 65%;
        margin-bottom: 25px;
    }

    #username, #pass{
        font-size: 1.5em;
        margin-bottom: 25px;
        width: 60%;
    }

    #login-button{
        font-size: 1.4em;
        width: 30%;
        height: 50px;
        }
}

@media screen and (min-width: 1400px) and (max-width: 1920px){
    .login-container{
        width: 30%;
    }

    .logo{
        width: inherit;
        margin-bottom: 25px;
    }

    #username, #pass{
        font-size: 1.3em;
        margin-bottom: 20px;
        padding: 15px 10px;
        }

    #login-button{
        font-size: 1.3em;
        width: 100px;
        height: 45px;
    }
}

